

<div class="border-bottom bg-white">
    <form id="todoForm" class="py-4 container">
        <div class="input-group input-group-lg">
            <input @bind="text" type="text" class="form-control" id="todoInput" placeholder="Add todo..." autofocus>
            <div class="input-group-append input-group-lg">
                <button @onclick="OnAddToDoItems" @onclick:preventDefault="true" id="addItemBtn" class="btn btn-info">ADD</button>
            </div>
        </div>
    </form>
</div>



@code {
    public string text  = string.Empty;

    [Parameter]
    public EventCallback<string> AddToDoItems { get; set; }

    public async Task OnAddToDoItems()
    {
        await AddToDoItems.InvokeAsync(text);
        text = string.Empty;
    }


}
