

<div class="border-bottom bg-white">
    <EditForm Model="createItem" OnValidSubmit="OnAddToDoItems" id="todoForm" class="py-4 container">
        <div class="input-group input-group-lg">
            <InputText @bind-Value="createItem.Text" type="text" class="form-control" id="todoInput" placeholder="Add todo..." autofocus></InputText>
            <div class="input-group-append input-group-lg">
                <button type="submit" id="addItemBtn" class="btn btn-info">ADD</button>
            </div>
        </div>
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <ValidationSummary></ValidationSummary>
    </EditForm>
</div>



@code {
    private CreateItem createItem = new CreateItem();

    [Parameter]
    public EventCallback<CreateItem> AddToDoItems { get; set; }

    public async Task OnAddToDoItems()
    {
        await AddToDoItems.InvokeAsync(createItem);
        createItem.Text = string.Empty;
    }


}
